<h1 class="title">Headline News</h1>

<article class="media box" *ngFor="let news of getTopNewsFeed(); let i = index">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p class="subtitle">{{news.subtitle}}</p>
      <p>{{news.content}}</p>
    </div>    
  </div>
  <div class="media-right">
      <button class="delete" (click)="onNewsDeleted(i)"></button>
    </div>
</article>