<div class="card" *ngFor="let news of getTopNewsFeed(); let i = index">
  <div class="card-header">
      <p class="card-header-title">
          {{news.subtitle}}
        </p>   
  </div>
  <div class="card-image">
    <figure class="image is-2by1">
      <img src="http://lorempixel.com/400/200/sports/" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">John Smith</p>
        <p class="subtitle is-6">@johnsmith</p>
      </div>
    </div>

    <div class="content">
      {{news.content}} 
      <a>@bulmaio</a>.

      <br>
      <time>{{news.date.toLocaleString()}}</time>
    </div>
  </div>
</div>