<h1 class="title">Headline News</h1>
<article class="media box">
  <div class="media-content">
    <div class="content">
      <p class="subtitle">Eagles win State Tournment</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas
        non massa sem. Etiam finibus odio quis feugiat facilisis.
      </p>
    </div>
  </div>
</article>
<article class="media box">
  <div class="media-content">
    <div class="content">
      <p class="subtitle">Epic Loss at Nationals</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus placerat augue, quis facilisis ex auctor sit amet.
        Donec eget mi et turpis maximus tempus.
      </p>
    </div>
  </div>
</article>
<article class="media box">
  <div class="media-content">
    <div class="content">
      <p class="subtitle">Local Girl has Chance at Olympics</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
      </p>
    </div>
  </div>
</article>
