<div class="columns ordered-mobile ">
  <div class="column fl-2">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Tournaments Near You
        </p>
      </div>
      <div class="card-content">
        <table class="table is-hoverable">
          <thead>
            <tr>
              <th>Tournament Name</th>
              <th>Distance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of tournaments">
              <td>{{t.name}}</td>
              <td>4 mi.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Teams Near You
        </p>
      </div>
      <div class="card-content">
        <table class="table is-hoverable">
          <thead>
            <tr>
              <th>Team Name</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of teams">
              <td>{{t.name}}</td>
              <td>{{t.location}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="column is-6 fl-1">
    <app-newsfeed></app-newsfeed>
  </div>
  <div class="column fl-3">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Camps Near You
        </p>
      </div>
      <div class="card-content">
        <table class="table is-hoverable">
          <thead>
            <tr>
              <th>Camp Name</th>
              <th>Distance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of camps">
              <td>{{c.name}}</td>
              <td>61 mi.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
        <div class="card-header">
          <p class="card-header-title">
            Players Near You
          </p>
        </div>
        <div class="card-content">
          <table class="table is-hoverable">
            <thead>
              <tr>
                <th>Player Name</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of players">
                <td>{{p.name}}</td>
                <td>{{p.location}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>