<div class="columns">
  <div class="column is-two-thirds">
    <section class="section">
      <div class="container">
        <h1 class="title">Main Content Area</h1>
        <div>
          <div class="card">
            <div class="card-header"><p class="subtitle">Tournements Near You</p></div>
            <div class="card-content">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <abbr title="Tournement Name">T. Name</abbr>
                    </th>
                    <th>City</th>
                    <th>
                      <abbr title="Teams Registered">Teams Reg.</abbr>
                    </th>
                    <th>
                      Distance
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>USSSA - Battle of the Bats</td>
                    <td>Madison, AL</td>
                    <td>46</td>
                    <td>4 mi.</td>
                  </tr>
                  <tr>
                    <td>NSA - Fall Showdown</td>
                    <td>Rainsville, AL</td>
                    <td>18</td>
                    <td>47 mi.</td>
                  </tr>
                  <tr>
                    <td>ASA - Tri State Exposure</td>
                    <td>Florence, AL</td>
                    <td>49</td>
                    <td>54 mi.</td>
                  </tr>
                  <tr>
                    <td>USSSA - UAB Exposure</td>
                    <td>Hoover/Fultondale, AL</td>
                    <td>12</td>
                    <td>61 mi.</td>
                  </tr>
                  <tr>
                    <td>ISA - Ladies of the Dirt</td>
                    <td>Murfreesboro, TN</td>
                    <td>27</td>
                    <td>64 mi.</td>
                  </tr>
                  <tr>
                    <td>USGF - Queen of the Diamond</td>
                    <td>Nashville, TN</td>
                    <td>41</td>
                    <td>79 mi.</td>
                  </tr>
                  <tr>
                    <td>PGF - Tourney of Champs</td>
                    <td>Nashville, TN</td>
                    <td>54</td>
                    <td>97 mi.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><p class="subtitle">Camps Near You</p></div>
          <div class="card-content">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Camp Name
                  </th>
                  <th>City</th>
                  <th>
                    Date
                  </th>
                  <th>
                    Cost
                  </th>
                  <th>
                    Distance
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>DCB Elite Camp</td>
                  <td>Hoover, AL</td>
                  <td>10/23/2017</td>
                  <td>$ 125.00</td>
                  <td>61 mi.</td>
                </tr>
                <tr>
                  <td>Nike Elite</td>
                  <td>Nashville, TN</td>
                  <td>10/30/2017</td>
                  <td>$ 80.00</td>
                  <td>97 mi.</td>
                </tr>
                <tr>
                  <td>Alabama University</td>
                  <td>Tuscaloosa, AL</td>
                  <td>1/17/2018</td>
                  <td>$ 200.00</td>
                  <td>112 mi.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="column is-one-third">
    <app-newsfeed></app-newsfeed>
  </div>
</div>
